.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }
  
  .input-label {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #12326E;
    margin-top: 1vh;
  }
  
  .text-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 1vh 0 1vh 0;

  }
  .input-group {
    position: relative;
    width: 400px;
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  