.checkbox-wrapper {
    display: flex;
    align-items: center;
    padding: 1vh;
    margin-top: 1vh;
}

.checkbox-input {
    margin-right: 10px;
}

.checkbox-label {
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #222222;
}
